:local
  .generalized-sections
    display: flex
    flex-direction row
    margin 2em

  .section-column
    position: relative
    flex-grow 1

.section-container
  margin-right 500px

.Onis
  .section-container
    margin-right 200px
