:local
  .generalized-sections
    display: flex
    flex-direction row
    margin 2em

  .section-column
    position: relative
    flex-grow 1
    margin-right 500px
    &:last-child
      margin-right 4em

  .section-column.Onis
    margin-right 200px
