@require "~@macrostrat/column-components/dist/column-components.css";

div.bottom-row
  display flex
  flex-direction row

div.sequence
  display flex
  flex-direction row
  width 6.5in
  margin-top 1em

.section-pane.detail-section
  overflow auto
  height max-content
  width 1.8in
