[submodule "frontend/app/bundledDeps/column-components"]
	path = frontend/packages/column-components
	url = git://github.com/UW-Macrostrat/column-components.git
[submodule "frontend/app/bundledDeps/geologic-patterns"]
	path = frontend/packages/geologic-patterns
	url = git://github.com/davenquinn/geologic-patterns.git
[submodule "frontend/packages/ui-components"]
	path = frontend/packages/ui-components
	url = git://github.com/UW-Macrostrat/ui-components.git
