[submodule "frontend/app/bundledDeps/ui-components"]
	path = frontend/app/bundledDeps/ui-components
	url = git://github.com/UW-Macrostrat/ui-components.git
[submodule "frontend/app/bundledDeps/column-components"]
	path = frontend/app/bundledDeps/column-components
	url = git://github.com/UW-Macrostrat/column-components.git
[submodule "frontend/app/bundledDeps/geologic-patterns"]
	path = frontend/app/bundledDeps/geologic-patterns
	url = git://github.com/davenquinn/geologic-patterns.git
