[submodule "bundled-deps/ui-components"]
	path = frontend/app/bundledDeps/ui-components
	url = git://github.com/UW-Macrostrat/ui-components.git
[submodule "app/bundled-deps/column-components"]
	path = frontend/app/bundledDeps/column-components
	url = git://github.com/UW-Macrostrat/column-components.git
