version: "3"
services:
  db:
    # PostgreSQL 13 is needed in order to allow force-dropping the database
    # (in testing mode)
    image: postgis/postgis:13-3.1
    environment:
      - POSTGRES_DB=Naukluft
      # This allows connections without a password, which is expedient but insecure...
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "${NAUKLUFT_DB_PORT:-54321}:5432"
    expose:
      - 5432
    volumes:
      - db_cluster:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
  api:
    build: frontend
    ports:
      - "${NAUKLUFT_API_PORT:-5555}:5555"
    expose:
      - 5555
    environment:
      - NAUKLUFT_DB=postgresql://postgres@db:5432/Naukluft
    depends_on:
      - db
    restart: on-failure
volumes:
  db_cluster:
