@require "~@macrostrat/column-components/dist/column-components.css";

.section-page-static
  width 20in
  height 15in
  overflow hidden
  position relative
  .panel-container
    overflow inherit

.section-container
  height 100%
  width 100%
