@require "~@macrostrat/column-components/dist/column-components.css";

.section-page-static
  width 25in
  height 26in
  overflow hidden
  position relative
  .panel-container
    overflow inherit
    height inherit
    #section-pane
      height inherit
    #section-page-inner
      margin 0
      padding 0 !important

.section-container
  height 100%
  width 100%
