.facies-description
  flex-grow: 2

.facies-description-inner
  display: flex
  flex-direction: row
  margin: 0 -1em
  &>div
    margin: 0 1em


.symbol-legend-container > :global(.symbol-legend)
  img
    width: 30px
    height: 30px
  &>div
    display: flex
    flex-direction: row
    align-items: center
    justify-content: middle
    span
      flex-grow: 1
      display: block
      margin-left: 1em

p.note
  font-style: italic

.summary-sections-legend
  position: absolute
  left: 800px
  padding: 1em
  top: 0
  h1, h2, h3
    line-height: inherit
  .legend-inner
    display: flex
    flex-direction: row
    &>div
      flex: 1
    &>div
      margin-right: 1em
  margin-top: 0
  width: 50em
  z-index: 12
  align-items: top
  background-color: var(--background-color)
  h2
    font-size: 1.5em

  h4
    margin-top: 0em
  div.facies .header
    display: flex
    flex-direction: row
    align-items: center
    p.facies-name
      margin: 0.2em 1em 0 0
      flex-grow: 1

  p.explanation
    display: flex
    flex-direction: row
    span.key
      font-size: 1.5em
    span.description
      flex-grow: 1
      margin-left: 1em
