{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~/bundled-deps/column-components": "./bundled-deps/column-components",
        "app/": "./"
      }
    }]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
