{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@macrostrat/column-components": "./bundled-deps/column-components",
        "~": "./bundled-deps/column-components"
      }
    }]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
