.generalized-sections
  display: flex
  flex-direction row
  margin 2em

.section-column
  position: relative
  flex-grow 1
  margin-right 500px
  &:last-child
    margin-right 4em


.section-column.Onis
  margin-right 200px

width=1.5px

.generalized-breaks
  position absolute
  top 0
  left -28px
  // Not sure why we have to do this pixel transform
  transform translate(0,-0.5px)
  width 28px
  font-size: 20px
  //border-top width solid black
  .section-break
    // Make sure we have pixel-perfect borders
    padding-left 6px
    &:last-child
      border-top width solid black
      margin-top 1px
      &:first-child
        margin-bottom 1px
    border-bottom width solid black
    // Make text vertical
    writing-mode vertical-lr
    transform: rotate(180deg)
    text-align: center
  .section-break-title
    font-weight 600
    padding-bottom 0.5em

.legend
  position absolute
  left 700px
  top 4.5em
  display flex
  flex-direction row
  h1, h2, h3, h4
    line-height inherit
    margin-bottom 0.5em
  p,span
    font-size 14px
  .legend-inner
    display flex
    flex-direction row
    &>div
      flex 1
    &>div
      margin-right 1em

  &>.facies
    margin-right 3em
  margin-top 0
  width 44em
  z-index 12
  align-items top
  background-color white
  h2
    font-size 1.2em

  h4
    margin-top 0em
  div.facies .header
    display flex
    flex-direction row
    align-items center
    p.facies-name
      margin 0.2em 0
      flex-grow 1
      margin-right 1em

  p.note
    font-style italic

  div.facies-description
    flex-grow 2
  div.facies-description-inner
    display flex
    flex-direction row
    margin 0 -1em
    &>div
      flex 1
      margin 0 1em
      &:last-child
        flex-grow 1.2
        margin-top -2em
    .color-swatch
      margin-bottom 0.5em

  div.symbol-legend
    img
      width 30px
      height 30px
    &>div
      display flex
      flex-direction row
      align-items center
      justify-content middle
      span
        flex-grow 1
        display block
        margin-left 1em

  p.explanation
    display flex
    flex-direction row
    span.key
      font-size 1.5em
    span.description
      flex-grow 1
      margin-left 1em

.legend-positioner
  position: relative


:global
  svg.section
    g.axis .tick line
      stroke-width 1.5px

  .generalized-sections .location-group.chemostratigraphy
    margin-left 0
    margin-right -3em
    margin-top 3px

  div.figure-reference
    width 80px
    position relative
    left: 124px
    .marker
      height 100%
      width 3px
      background-color black
      z-index 10
    p.label
      position absolute
      margin-top 0
      padding 2px 4px
      left 3px
      top 0px
      font-family: "Merriweather", serif
      font-size: 18px
      font-weight 500
      background-color white
