@require "~@macrostrat/column-components/main.styl";

*
  font-family: Montserrat, sans-serif

h1,h2,h3,h4,h5,h6
  font-family: Montserrat, sans-serif
  font-weight 500

.page.generalized-sections-static
  margin -20px
  width max-content
  height max-content
  overflow show
  position relative
  .section-header h2
    margin-bottom -5px
  .panel-container
    overflow inherit
    height inherit
    #section-pane
      height inherit
    #section-page-inner
      margin 0
      padding 0 !important
  .lithostratigraphy-names
    margin-top 44px
    margin-right -2px
  .location-group
    margin-bottom 10px
    &.chemostratigraphy
      margin 11px -54px -2em -4px
      h2
        font-size 1em
  #section-pane, .section-pane
    overflow: inherit
    height max-content
    width max-content

@page {
  margin: 0cm;
}
