@require "../../bundledDeps/column-components/src/editor/main.styl"

:local
  .tab-panel
    min-height 150px
  .editor-drawer
    top: 70px !important
    right: 1em !important
    position: fixed !important;
    border-radius: 3px;
    bottom: 1em !important;
    width: 20%;
    max-width: 400px
    pointer-events all
  .editor-inner
    padding 1em
    overflow-y scroll

:global
  .bp3-portal .bp3-overlay
    pointer-events: none
