@require "~#/editor/main"

.interval-editor-title
  display flex
  flex-direction row
  justify-content: space-between;
  h3
    margin 0
  code
    font-family monospace
    font-weight 600

.interval-editor
  overflow hidden
