ul.navigation
  li a
    background-color: var(--background-color-secondary)
    color: var(--text-color)
    &:hover
      background-color: var(--background-color-highlight)
      color: var(--text-color-highlight)

    padding: 1em
    text-decoration: none
    display: block
    margin-bottom: 1em
    font-size: 1.2em


