//@require "~@macrostrat/column-components/src/main.styl";

*
  font-family "Montserrat", sans-serif

h2
  font-weight: 500
  font-size 18px

text.section-id
  font-family: 'Chaparral Pro', 'Merriweather', serif
  font-size: 14px
  font-style: italic

div.bottom-row
  display flex
  flex-direction row

div.sequence
  display flex
  flex-direction row
  margin-top 1em
  margin: 2em

.section-pane.detail-section
  height max-content

.figure-part
  display flex
  flex-direction row
  h2
    margin-top 0.2em
    margin-right 0em
  margin-right 3em

/// Extra styles below this point

.page.section-page
  width: 100%
  flex-grow: 1
  display: flex
  flex-direction: row

  .left-panel
    flex 1
    position relative

.section-pane
  position: relative
  flex: 1
  display: flex
  flex-direction: column

div.section-panel
  padding-bottom: 20px

div.section-column
  flex: flex-grow
  position: relative
  div.section-locator
    position: relative
    height: 0
  div.section-locator-inner
    position: absolute

text
  font-family: 'Montserrat'
  font-size: 10

div.images
  position: relative

.y.axis
  text
    text-anchor: middle
    transform: rotate(-90deg) translate(8px,-12px)
    font-weight: 400
  //transform: rotate(90deg)

.axis-label
  font-size 14px
  font-weight 500
  .unit
    font-weight 400
