:global
  .col-note-label
    font-size: 10px
    margin-top: 5px
    margin-bottom: 5px

  // .section-log foreignObject
  //   transform: translate(0,-4px)


  .note-inner
    //transform: translate(0,-4px)
    padding-bottom 3px

  .section-header h2
    margin-bottom 0

.image-container
  overflow hidden
  position: absolute
  top: 30px

.section-outer
  position: relative
  // ensure that margins don't collapse
