.cross-sections
  padding 1em 2em
  margin 0
  height 100vh
  &.dark-mode
    background-color: #222
    p,ul,li,h1,h2,h3,h4,h5,h6
      color #eee

.terrain
  stroke: #444
  stroke-width: 2px
  stroke-linecap: round
  fill none
