.section-pane-static
  width 1200px
  height 1200px // figure out how to automate this
  .generalized-sections
    flex-grow 1
    display flex
    flex-direction row
    width 1200px
    //justify-content space-between
  .section-column
    flex-grow 1
    &:first-child
      flex-grow 0.2
      margin-left: 10em
    &:last-child
      flex-grow 0
      margin-right: 500px

:global(.section-positioner)
  position relative
