.section-pane-static
  width 960px
  height 1200px // figure out how to automate this
  .generalized-sections
    flex-grow 1
    display flex
    flex-direction row
    width 960px
    //justify-content space-between
  .section-column
    flex-grow 1
    &.Onis
      flex-grow 0.5
    &:last-child
      flex-grow 0
