.section-pane-static
  width 1400px
  height 1880px // figure out how to automate this
  .generalized-sections
    flex-grow 1
    display flex
    flex-direction row
    width 1400px
    justify-content space-between
  .section-column
    &:last-child
      margin-right 0
