@require "~@macrostrat/column-components/dist/column-components.css";

.page.generalized-sections-static
  margin -20px
  width max-content
  height max-content
  overflow show
  position relative
  .section-header h2
    margin-bottom -5px
  .panel-container
    overflow inherit
    height inherit
    #section-pane
      height inherit
    #section-page-inner
      margin 0
      padding 0 !important
  .lithostratigraphy-names
    margin-top 44px
  .location-group
    margin-bottom 10px
    &.chemostratigraphy
      margin 4px -54px -2em -4px
  #section-pane, .section-pane
    overflow: inherit
    height max-content
    width max-content

@page {
  margin: 0cm;
}
