@require "~@macrostrat/column-components/dist/column-components.css";

.section-page-static.section-page.page.summary-sections
  margin -20px
  width max-content
  height max-content
  overflow show
  position relative
  .section-header h2
    margin-bottom -5px
  .panel-container
    overflow inherit
    height inherit
    #section-pane
      height inherit
    #section-page-inner
      margin 0
      padding 0 !important

  .location-group
    margin-bottom 10px
    &.chemostratigraphy
      margin 40px -10px 0 -4px

@page {
  margin: 0cm;
}
