# Note: see https://github.com/overhangio/tutor/releases for a well-developed release schedule
# We could use a CHANGELOG generator to forward information about changes...
name: Naukluft App release generation
on:
  push:
    tags:
      - 'v*.*.*'
    branches: [main]
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Update submodules
        run: git submodule update --init

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: backend_meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/davenquinn/naukluft-app/server
          tags: |
            type=match,pattern=v(.*),group=1
            type=pep440,pattern={{version}}
            type=raw,value={{branch}}-{{date 'YYYYMMDD'}}
            type=branch
      - name: Build and push backend
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.backend_meta.outputs.tags }}
          labels: ${{ steps.backend_meta.outputs.labels }}
          cache-from: type=registry,ref=ghcr.io/davenquinn/naukluft-app/server:latest
          cache-to: type=inline
