name: Naukluft App release generation
on:
  push:
    tags:
      - 'v*.*.*'
    branches: [main]
jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/davenquinn/naukluft-app/server
          tags: |
            type=raw,value=sha-{{github.sha}}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, '-')}}
            type=raw,value=latest-itb-{{date 'YYYYMMDDHHmmss'}},enable=${{ startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '-')}}
            type=ref,event=pr,suffix=-{{date 'YYYYMMDDHHmmss'}}
            type=ref,event=pr
            type=ref,event=branch,suffix=-{{date 'YYYYMMDDHHmmss'}}
            type=ref,event=branch
            type=ref,event=tag,suffix=-{{date 'YYYYMMDDHHmmss'}}
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{version}},suffix=-{{date 'YYYYMMDDHHmmss'}}
          flavor: |
            latest=false

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=ghcr.io/davenquinn/naukluft-app/server:main
          cache-to: type=inline
